/* ==== RESET_DOCUMENT ==== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ==== ROOT_CONFIG ==== */
:root {
    font-size: 62.5%;
    /* 1rem = 10px */
    --nav-height: 10rem;
    --font-texts-color: rgb(243, 243, 243);
    --font-size-title: 3.5rem;
    --font-size-label: 1.4rem;
    --font-size-input: 1.3rem;
    --font-size-copyright: 1.3rem;
}

/* ==== BASE ==== */
html {
    scroll-behavior: smooth;
}

body {
    background: url(../img/bg-binary.jpg);
    background-size: cover;
    top: 0;
    left: 0;
}

/* ==== HEADER ==== */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: var(--nav-height);
}

header h1 {
    color: var(--font-texts-color);
    font-size: var(--font-size-title);
}

header h1 spam {
    color: rgb(37, 94, 216);
}

main {
    padding-top: 2.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 5rem;
}

.card {
    color: var(--font-texts-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(82, 82, 82, 0.8);
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 16px -10px white;
    width: min(50rem, 100%);
}

.card input {
    /* width: min(30rem, 100%); */
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    font-size: var(--font-size-input);
}

.card label {
    font-size: var(--font-size-label);
}

.card .buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.card button {
    padding: 0.8rem;
    border-radius: 1.2rem;
    color: var(--font-texts-color);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.685);
    background-color: rgb(37, 94, 216);
    font-size: var(--font-size-label);
    cursor: pointer;
    border: none;
    width: 10rem;
}

footer {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-links {
    display: flex;
    margin: auto;
    gap: 2rem;
}

.social-links img {
    width: 5rem;
}

.copyright {
    color: var(--font-texts-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: var(--font-size-copyright);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.658);
}